@page
@model NguyenThanhDuyRazorPage.Pages.CustomerArea.RentingCarDetail.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentingDetail</h4>
<hr />
<div class="container mt-5">
    <h1 class="text-center">Create Renting Detail</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="RentingTransaction.RentingTransationId" class="control-label">Transaction ID:</label>
                    <input asp-for="RentingTransaction.RentingTransationId" class="form-control" />
                    <span asp-validation-for="RentingTransaction.RentingTransationId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RentingDetail.StartDate" class="control-label">Start Date:</label>
                    <input asp-for="RentingDetail.StartDate" class="form-control" />
                    <span asp-validation-for="RentingDetail.StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RentingDetail.EndDate" class="control-label">End Date:</label>
                    <input asp-for="RentingDetail.EndDate" class="form-control" />
                    <span asp-validation-for="RentingDetail.EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CarInformation.CarName" class="control-label">Car Name:</label>
                    <input asp-for="CarInformation.CarName" class="form-control" readonly />
                    <input asp-for="CarInformation.CarId" type="hidden" readonly />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-page="/ControllerPages/CustomerPage" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
