@page
@model NguyenThanhDuyRazorPage.Pages.CustomerArea.RentingCarDetail.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentingTransaction.RentingTransationId" class="control-label"></label>
                <input asp-for="RentingTransaction.RentingTransationId" class="form-control" />
                <span asp-validation-for="RentingTransaction.RentingTransationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RentingDetail.StartDate" class="control-label"></label>
                <input asp-for="RentingDetail.StartDate" class="form-control" />
                <span asp-validation-for="RentingDetail.StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RentingDetail.EndDate" class="control-label"></label>
                <input asp-for="RentingDetail.EndDate" class="form-control" />
                <span asp-validation-for="RentingDetail.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarInformation.CarName" class="control-label"></label>
                <input asp-for="CarInformation.CarName" class="form-control" readonly />
                <span asp-validation-for="CarInformation.CarName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="CarInformation.CarId" class="form-control" type="hidden" readonly/>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
