@page
@model NguyenThanhDuyRazorPage.Pages.ControllerPages.AdminModel
@using NguyenThanhDuyRazorPage.Pages.SessionHelpers
@using CarRetingAppLibrary.DataAccess
@{
    ViewData["Title"] = "Admin";
    var user = SessionHelper.GetObjectFromJson<Customer>(HttpContext.Session, "user");
    string welcomeMessage = $"Welcome, Admin!";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-4 text-center">Choose Options</h1>
                </div>
                <div class="card-body">
                    <form method="get" class="text-center">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" asp-page="/AdminArea/Customers/Index">Customer Management</button>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" asp-page="/AdminArea/CarInformations/Index">Car Information Management</button>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" asp-page="/AdminArea/Transactions/Index">Transaction Management</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-danger btn-lg btn-block" asp-page="/Logout">Log out</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

