@page
@model NguyenThanhDuyRazorPage.Pages.ControllerPages.AdminModel
@using NguyenThanhDuyRazorPage.Pages.SessionHelpers
@using CarRetingAppLibrary.DataAccess
@{
    ViewData["Title"] = "Admin";
    var user = SessionHelper.GetObjectFromJson<Customer>(HttpContext.Session, "user");
    string welcomeMessage = $"Welcome, Admin!";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">Choose Options</h1>
            </div>
            <div class="mt-4">
                <form method="get" class="text-center">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" asp-page="/AdminArea/Customers/Index">Customer Management</button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" asp-page="/AdminArea/CarInformations/Index">Car Information Management</button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" asp-page="/AdminArea/Transactions/Index">Transaction Management</button>
                        <button type="submit" class="btn btn-danger btn-lg btn-block" asp-page="/Logout">Log out</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

