@page
@model NguyenThanhDuyRazorPage.Pages.ControllerPages.CustomerModel
@{
}

<div class="text-center">
    <h1 class="display-4">Choose Options</h1>
    <div style="align-items: center;">
        <form method="get">
            <button asp-page="/CustomerArea/UserInformation/Index" type="submit" class="btn btn-primary" style="margin-top: 10px;" asp>View your information</button>
            <button asp-page="/CustomerArea/UserInformation/Index" type="submit" class="btn btn-primary" style="margin-top: 10px;" asp>View history transaction</button>
            <button asp-page="/Logout" type="submit" class="btn btn-danger" style="margin-top: 10px;" asp>Log out</button>
        </form>
    </div>
</div>

